.pagetop {
	margin: auto 30px auto auto;
	float: right;
	text-align: center;
	font-size: 14px;
}

.pagebottomleft {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 50%;
	background-color: #f3f3f3;
	border-top: 1px solid;
	border-color: #e0e0e0;
}

.pagebottomright {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50%;
	background-color: #f3f3f3;
	border-top: 1px solid;
	border-color: #e0e0e0;
}

.bottomleftitems {
	float: left;
	padding-bottom: 10px;
	padding-right: 35px;
	font-size: 13px;
}

.bottomrightitems {
	float: right;
	padding-bottom: 10px;
	padding-right: 35px;
	font-size: 13px;
}

#userimg {
	border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
}

.img {
	align-content: right;
	position: absolute;
	top: 30%;
	left: 35%;	
}

.searchform {
	position: absolute;
	top: 45%;
	left: 27%;
}

#textbox {
	box-shadow: 0 1px 0.5px 0.5px #222222;
}

#buttons {
	margin-left: 30%;
	margin-top: 10px;
}

a {
	color: #808080;
	text-decoration: none
}

a:hover {
	text-decoration: underline;
}